<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aspirise</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="px-4 py-5 my-3 text-center">
        <a href="#" class="text-decoration-none">
            <h1 class="font-monospace text-dark">Community</h1>
        </a>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 px-5 mx-5">
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Arts and Crafts</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Crafting</h6>
                    <p class="card-text fw-light fs-5">- Creativity Boost <br>- Stress Relief<br>- Skill Development</p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Performing Arts</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Crafting</h6>
                    <p class="card-text fw-light fs-5">- Confidence Building<br>- Emotional Expression<br>- Social
                        Connections</p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Outdoor Activities</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Physical Health</h6>
                    <p class="card-text fw-light fs-5">- Physical Health<br>- Mental Well-being<br>- Environmental
                        Awareness</p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Sports and Fitness</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Physical Health</h6>
                    <p class="card-text fw-light fs-5">- Physical Fitness<br>- Teamwork and Discipline<br>- Mental
                        Health</p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Collecting</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Learning</h6>
                    <p class="card-text fw-light fs-5">- Knowledge Expansion<br>- Patience and Attention to Detail<br>-
                        Sense of Accomplishment</p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Games and Puzzles</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Learning</h6>
                    <p class="card-text fw-light fs-5">- Cognitive Skills<br>- Social Interaction<br>- Entertainment</p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Technology and Science</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Learning</h6>
                    <p class="card-text fw-light fs-5">- Innovation and Learning <br>- Problem-Solving<br>- Career
                        Opportunities</p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Literature and Writing</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Learning</h6>
                    <p class="card-text fw-light fs-5">- Language Skills<br>- Creativity and Imagination<br>- Emotional
                        Outlet</p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Culinary Arts</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Crafting</h6>
                    <p class="card-text fw-light fs-5">- Healthy Eating<br>- Creativity and Experimentation<br>-
                        Cultural Appreciation</p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Travel and Exploration</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Exploring</h6>
                    <p class="card-text fw-light fs-5">- Cultural Awareness<br>- Personal Growth<br>- Stress Reduction
                    </p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">DIY and Home Improvement</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Learning</h6>
                    <p class="card-text fw-light fs-5">- Skill Development<br>- Sense of Achievement<br>- gratitude</p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Social and Community Activities</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Exploring</h6>
                    <p class="card-text fw-light fs-5">- Sense of Belonging <br>- Contribution to Society<br>-
                        Networking</p>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 1</a>
                    <a href="https://web.whatsapp.com/" class="card-link text-decoration-none">Community 2</a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="text-center">
        <button class="btn btn-primary" onclick="history.back()">Back</button>
    </div>
</body>

</html>